@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
body {
	background: #dfe6e9;
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
a, ul {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}
.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}
.main-header-title {
	margin: 0 10px 0 10px;
	font-family: 'Changa', cursive;
	font-size: 3vw;
	opacity: 0.6;
}
.main-header-title a {
	color: white;
	text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.main-header-navigation {
	display: flex;
	align-items: center;	
}
.search-input {
	width: 100px;
	height: 30px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 5px;
	background: none;
	font-family: 'Noto Sans JP', sans-serif;
	color: white;
	opacity: 0.5;
	transition: width 1s;
}
.search-input:focus {
	width: 300px;
}
input[type=search]::placeholder {
	color: white;
}
.main-header-navigation ul {
	display: flex;
}
.main-header-navigation ul li {
	margin: 0 25px 0 25px;
}
.main-header-navigation ul li a {
	font-family: 'Bebas Neue', cursive;
	font-size: 2vw;
	color: white;
	opacity: 0.8;
}
.main-header-navigation ul li a:hover {
	opacity: 1;
}
.slideshow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-image: url("../images/slideshow/1.jpg");
	border-bottom: 5px solid rgba(0, 0, 0, 0.2);
	padding: 30px 0 30px 0;
}
.slideshow-button {
	font-size: 4.5vw;
	cursor: pointer;
	color: white;
	text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
	opacity: 0.2;
}
.slideshow-left {
	margin-left: 20px;
}
.slideshow-right {
	margin-right: 20px;
}
.slideshow-box {
	background: rgba(255,255,255,0.3);
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
}
.slideshow-header {
	color: white;
	font-size: 1.5vw;
	text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.slideshow-header h1 {
	margin: 0;
}
.slideshow-content {
	color: white;
	font-size: 1.5vw;
	text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.preview {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0 20px 0;
	border: 10px solid rgba(0,0,0,0.1);
}
.preview-box {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/test.png");
	border: 5px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
	border-radius: 50%;
}
.preview-box2 {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/preview/2.png");
	border: 5px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
	margin-left: 20px;
	border-radius: 50%;
}
.preview-box-content {
	display: flex;
	align-items: center;
	padding: 20px 30px 20px 30px;
	background: rgba(255,255,255,0.1);
	border-radius: 5px;
	margin-left: 20px;
	color: white;
	font-size: 1.2vw;
}
.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
}
.main-footer-navigation {
}
.main-footer-navigation ul {
	display: flex;
}
.main-footer-navigation ul li {
	margin: 0 50px 0 50px;
}
.main-footer-navigation ul li a {
	color: white;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
	opacity: 0.7;
}
.main-footer-title {
	margin: 0 20px 0 0;
	font-family: 'Changa', cursive;
	font-size: 3vw;
	opacity: 0.2;
}
.main-footer-title a {
	color: white;
	text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.nav-ul-preview {
	margin-left: 20px;
}
.nav-ul-preview li {
}
.nav-ul-preview a {
	font-size: 2vw;
	color: white;
	font-family: 'Bebas Neue', cursive;
}








